.selected-button {
    background-color: transparent;
    color: #a020f0;
    border: 2px solid #a020f0;
}

.auth-user-type-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}
.auth-user-type-button-group .auth-button {
    width: 100%;
}
